.card{
    margin-top: 2% !important;
    margin-left: 2% !important;
    margin-bottom: 2% !important;
    margin-right: 2% !important;
    background-color: #D3D3D3 !important;
    width: 500px !important;
    height: 1500px !important;
    float: left !important;
}